@mixin  flexAlign($hor: center, $ver: center, $pos: row) {
    display: flex;
    justify-content: $hor;
    align-items: $ver;
    flex-direction: $pos;
}

body {
    margin: 0;
    background-color: #edeef0;
}

.wrapper {
    width: 100%;
    height: 100vh;
    @include flexAlign;
}

.container {
    width: 20%;
    min-width: 320px;
    @include flexAlign($pos: column);
    

    &__list {
        width: 100%;
        max-height: 500px;
        background-color: #ffffff;
        box-sizing: border-box;
        overflow: hidden;
        overflow-y: auto;
        padding: 10px;
    }  

    &__add {
        width: 100%;
        @include flexAlign($pos: column);
    }
}

.user {
    width: 100%;
    @include flexAlign(flex-start);
    box-shadow: 0 0 3px 0 black;
    padding: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    position: relative;

    &:last-child {
        margin-bottom: 0;
    }

    &__name {
        line-height: 2;
        margin-right: 20px;
        font-weight: 700;
        font-size: 18px;
    }

    &__age {
        font-size: 18px;
        font-weight: 500;
    }

    &__content {
        height: 100px;
        padding-left: 10px;
    }

    &__delete {
        width: 20px;
        height: 20px;
        @include flexAlign;
        background-color: red;
        color: white;
        position: absolute;
        top: 0;
        right: 10px;
        cursor: pointer;
        user-select: none;
        font-family: 'Open Sans', sans-serif;
        font-weight: 600;
    }
}
